@import "abstracts/variables";

.footer {
  display: inline-block;
  position: fixed;
  bottom: 0;
  left: 0;
  height: 6.5vh;
  width: 100vw;
  background-color: $color-black;
  color: $color-white;
  padding-left: 1.4rem;
  z-index: 10;

  &__copyright {

    line-height: 6.5vh;

    span {
      font-size: $default-font-size;
      margin-right: 1rem;
      text-transform: uppercase;
      letter-spacing: 1.4px;
    }
  }
}