@import "abstracts/variables";

.footer {
  display: flex;
  align-items: center;
  position: sticky;
  bottom: 0px;
  left: 0px;

  width: 100%;
  background-color: $color-black;
  color: $color-white;
  padding-left: $padding-layout;
  z-index: 10;

  height: 6rem;
  border-top: 2px solid $color-primary;

  &__copyright {
    display: inline-block;

    span {
      font-size: 1.1rem;
      margin-right: 1rem;
      text-transform: uppercase;
      letter-spacing: 1.4px;
    }
  }
}