@import "abstracts/variables";

.footer {
  display: block;
  position: sticky;
  bottom: 0px;
  left: 0px;
  // height: 6vh;
  width: 100%;
  background-color: $color-black;
  color: $color-white;
  padding-left: $padding-layout;
  z-index: 10;

  &__copyright {
    line-height: 5.5rem;

    span {
      font-size: 1.1rem;
      margin-right: 1rem;
      text-transform: uppercase;
      letter-spacing: 1.4px;
    }
  }
}