<form [formGroup]="buyBackProductForm"
      (ngSubmit)="onCreateExternalBuyBackBasket()">

  <!-- PhoneNumber Name -->
  <mat-form-field appearance="fill">
    <mat-label>Số điện thoại</mat-label>
    <input matInput
           formControlName="phoneNumber" />
    <mat-error *ngIf="buyBackProductForm.get('phoneNumber')!.hasError('required')">
      Vui lòng nhập số điện thoại
    </mat-error>
  </mat-form-field>

  <!-- Product Name -->
  <mat-form-field appearance="fill">
    <mat-label>Tên sản phẩm</mat-label>
    <input matInput
           formControlName="productName" />
    <mat-error *ngIf="buyBackProductForm.get('productName')!.hasError('required')">
      Vui lòng nhập tên sản phẩm
    </mat-error>
  </mat-form-field>

  <!-- Quantity -->
  <mat-form-field appearance="fill">
    <mat-label>Số lượng</mat-label>
    <input matInput
           type="number"
           formControlName="quantity" />
    <mat-error *ngIf="buyBackProductForm.get('quantity')!.hasError('required')">
      Vui lòng nhập số lượng
    </mat-error>
    <mat-error *ngIf="buyBackProductForm.get('quantity')!.hasError('min')">
      Số lượng phải ít nhất là 1
    </mat-error>
  </mat-form-field>

  <!-- Gold Weight -->
  <mat-form-field appearance="fill">
    <mat-label>Trọng lượng vàng</mat-label>
    <input matInput
           type="number"
           formControlName="goldWeight" />
    <mat-error *ngIf="buyBackProductForm.get('goldWeight')!.hasError('required')">
        Vui lòng nhập trọng lượng vàng
    </mat-error>
    <mat-error *ngIf="buyBackProductForm.get('goldWeight')!.hasError('min')">
      Trọng lượng vàng phải là số dương
    </mat-error>
  </mat-form-field>

  <!-- Gold Type -->
  <app-generic-dropdown #goldsDropdownRef
                        label="Chọn loại vàng"
                        [options]="goldsDropdown"
                        (onSelectionChange)="onSelectChangeGoldIdFromParent($event)">
  </app-generic-dropdown>

  <!-- Filter on Sub Categories -->
  <app-generic-dropdown #subCategoriesDropdownRef
                        label="Chọn loại trang sức"
                        [options]="subCategoriesDropdown"
                        (onSelectionChange)="onSelectChangeSubCategoryIdFromParent($event)">
  </app-generic-dropdown>

  <!-- Button -->
  <button class="btn btn--primary btn--with-icon u-margin-top-small"><mat-icon>outbox</mat-icon>Tạo giỏ hàng</button>
</form>