<mat-card class="card">
  <mat-card-header class="card__header">
    <mat-card-title>{{product.name}}</mat-card-title>
  </mat-card-header>

  <img mat-card-image
       class="card__img"
       [src]="product.imageUrl" />

  <mat-card-content class="card__content">
    <p>{{product.description}}</p>
  </mat-card-content>

  <mat-card-actions class="card__actions">
    <button mat-button
            (click)="addToCartFromChild()">Add To Card</button>
    <button (click)="viewProductDetailFromChild()"
            mat-button>View Detail</button>
  </mat-card-actions>
</mat-card>