@import "abstracts/variables";

.card-product {
  height: 54rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  border-radius: $border-radius-general;
  padding: 1.2rem;

  &__img {
    justify-self: center;
    align-self: center;
    height: 23rem;
    max-width: 80%;
    -o-object-fit: center;
    object-fit: center;
  }

  &__name {
    flex: 1;
    align-self: center;
    text-align: center;
  }

  &__content {
    width: 100%;
    font-size: 1.6rem;
    display: grid;
    gap: 1.2rem;
    padding: 0.8rem;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas:
      "price price quantity quantity"
      "price price status status";
  }

  &__price {
    grid-area: price;
    align-self: center;
    justify-self: center;
    font-size: 2.4rem;
    font-weight: 900;

    // Break words
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-all;
  }

  &__quantity {
    grid-area: quantity;
    padding: 0.8rem;
    justify-self: center;

    &--text {
      text-transform: uppercase;
      font-size: 1.4rem;
    }

    &--number {
      margin-left: 0.8rem;
      font-weight: bold;
      font-size: 2.2rem;
    }
  }

  &__status {
    grid-area: status;
    text-transform: uppercase;
    padding: 1.2rem;
    font-weight: 900;
    justify-self: stretch;
    text-align: center;
    box-shadow: 0 1px 4px 2px rgba($color: #000000, $alpha: 0.1);
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: $color-grey-light;
    letter-spacing: 1.05px;

    &--available {
      color: $color-primary-dark;

    }

    &--unavailable {
      color: $color-black;
    }
  }

  &__actions {
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    gap: 1.2rem;

    button {
      text-transform: uppercase;
      justify-self: center;
      flex: 1;
    }
  }
}