.card {
  height: 45rem;
  display: flex;
  flex-direction: column;
  justify-content: end;

  &__img {

    justify-self: start;
    width: 100%;
    height: 25rem;
    object-fit: center;
  }

  &__name {
    flex: 1;
  }

  &__content {}

  &__actions {}
}