<section class="filter-controls u-margin-bottom-small mat-elevation-z2">
  <div class="filter-controls__dropdowns">
    <!-- Filter on Basket -->
    <app-generic-dropdown #basketIdAndPhoneDropdownRef
                          label="Chọn mã giỏ hàng"
                          [options]="basketIdAndPhoneDropdown"
                          (onSelectionChange)="onSelectChangeBasketIdAndPhoneFromParent($event)">
    </app-generic-dropdown>

    <!-- Filter on Order Type -->
    <app-generic-dropdown #orderTypeDropdownRef
                          label="Chọn loại giỏ hàng"
                          [options]="orderTypeDropdown"
                          (onSelectionChange)="onSelectChangeOrderTypesFromParent($event)">
    </app-generic-dropdown>
  </div>

  <div class="filter-controls__filter-and-reset">
    <!-- Filter on Names -->
    <app-generic-search #phoneSearchInputRef
                        label="Tìm kiếm theo số điện thoại"
                        (onValueChanges)="onValueChangesPhoneFromParent($event)">
    </app-generic-search>

    <!-- Reset all input element -->
    <button class="btn btn--primary-dark btn--with-icon"
            (click)="onResetFilters()"><mat-icon>filter_alt_off</mat-icon>Xóa bộ lọc</button>
  </div>
</section>

<!-- List of Sell baskets -->
<section class="grid grid--2-cols u-margin-top-small">

  <!-- If not found then show this message -->
  <div *ngIf="(baskets$ | async)?.length === 0">
    <p>Không có giỏ hàng nào</p>
  </div>

  @for (basket of baskets$ | async; track $index) {
  <app-card-basket [basket]="basket"
                   (onDeleteBasketFromChild)="onBasketDeletedFromParent($event)"></app-card-basket>
  }
</section>