@import "abstracts/variables";

.modal-profile {

  &__img {
    display: inline-block;
    margin: 0 auto;
    width: 25rem;
    height: 25rem;
    background-color: green;
    border-radius: 50%;
    object-fit: contain;
  }

  &__fullName {
    font-size: 3.2rem;
    font-weight: 900;
    align-self: center;
  }

  &__userName {
    font-size: 2.4rem;
    align-self: center;
    font-style: italic;
  }

  &__status {
    display: inline-block;
    font-size: 2.2rem;
    text-transform: uppercase;
    font-weight: bolder;
    align-self: center;
    background-color: $color-primary-light;
    color: $color-grey-light;
    padding: 1.2rem 2.4rem;
    border-radius: 1.2rem;
  }

  &__infors {
    p {
      font-size: 1.8rem;
      background-color: $color-grey-light;
      padding: $padding-layout;
    }
  }
}