<div class="reset-password">
    <h2 class="reset-password__title">Đổi Mật Khẩu</h2>
  
    <form [formGroup]="passwordForm" class="reset-password__form">
      <mat-form-field appearance="outline">
        <mat-label>Nhập mật khẩu mới</mat-label>
        <input matInput type="password" formControlName="password" name="password" required>
        <mat-error *ngIf="passwordForm.get('password')?.invalid">
          {{ updateErrorMessage('password') }}
        </mat-error>
      </mat-form-field>
  
      <mat-form-field appearance="outline">
        <mat-label>Xác nhận lại mật khẩu</mat-label>
        <input matInput type="password" formControlName="confirmPassword" name="confirmPassword" required>
        <mat-error *ngIf="passwordForm.get('confirmPassword')?.invalid">
          {{ updateErrorMessage('confirmPassword') }}
        </mat-error>
      </mat-form-field>
      <button class="btn btn--primary-dark btn--with-icon reset-password__button"
             (click)="onResetPassword()"><mat-icon>key</mat-icon>Đổi Mật Khẩu</button>
    </form>
  </div>