@import "abstracts/variables.scss";

.flex {
  display: flex;
  justify-content: stretch;
  align-items: flex-start;
  gap: 2.0rem;
}

// TIMER
.timer {
  position: relative;
  // border: 1px solid $color-black;
  box-shadow: 0 2px 10px 0px rgba(0, 0, 0, 0.1);
  width: 100%;
  padding: 2.4rem 2.8rem;
  background-color: $color-black;
  border-right: 5px solid $color-primary-dark;

  &__number {
    display: block;
    color: $color-primary-light;
    font-size: 5.2rem;
    font-family: monospace;
    text-align: left;
  }

  &__date {
    display: block;
    font-size: 2.2rem;
    color: $color-grey-light;
    letter-spacing: 1px;
    text-align: left;
  }
}

// TABLE GOLD
.table-gold {
  flex: 1 1 40rem;

  &__header {
    text-align: center;
    padding: 2rem 0;
    letter-spacing: 1.4px;
    color: $color-white;
    background-color: $color-primary-dark;
    text-transform: uppercase;

    & p:nth-child(1) {
      font-size: 2.2rem;
    }
  }

  &__sub-header {
    color: $color-black;
    text-transform: uppercase;
    font-weight: 900;
  }

  // All cell headers and cell content

  th,
  td {
    padding: 1.8rem 2.4rem;
  }

  th {
    font-size: 1.8rem;
    line-height: 2.8rem;

  }

  td {
    font-size: 1.8rem;
  }

  &__item {

    &--ask-cell-header {
      font-size: 2.2rem !important;
      color: $color-primary-dark;
    }

    &--ask-cell {
      color: $color-primary-dark;
      font-size: 2.8rem !important;
      font-weight: 900;
    }

    &--bid-cell-header {
      font-size: 2.2rem !important;
      color: $color-primary-light;
    }

    &--bid-cell {
      color: $color-primary-light;
      font-size: 2.8rem !important;
      font-weight: 900;
    }
  }
}

// CHART GOLD
.chart-gold {
  height: 70rem;
  flex: 3 0 60rem;

  &__header {
    text-align: center;
    padding: 1.5rem 0;
    color: $color-grey-light;
    font-weight: 1.5rem;
    background-color: $color-primary-dark;
    text-transform: uppercase;
    letter-spacing: 1.4px;

    & p:nth-child(1) {
      font-size: 2.2rem;
    }
  }
}