.gold-table {
  float: left;
  margin: 2% 2% 0 2%;
  width: 30%;
}

.table-header {
  text-align: center;
  padding: 20px 0;
  font-size: 20px;
  color: white;
  background-color: #ea580c;
}

.header-cell {
  background-color: rgba(0, 0, 0, 0.9);
}

.ask-cell {
  color: #a63111;
}

.gold-chart {
  height: 60%;
  width: 62%;
  margin: 2% 2% 0 0;
  float: right;
}

.chart-header {
  text-align: center;
  padding: 20px 0;
  font-size: 20px;
  color: white;
  background-color: #ea580c;
}