<!-- Latest Shop's Gold Prices -->
<div class="flex u-padding-left-small u padding-right-small">
  <section class="table-gold">
    <div class="timer mat-elevation-z2">
      <p class="timer__number">{{currentDate$ | async | date:'hh:mm:ss a'}}</p>
      <p class="timer__date">{{currentDate$! | async | vietNameseDatePipe}}</p>
    </div>

    <div class="table-gold__table mat-elevation-z2">
      <h2 class="table-gold__header">
        <p>Giá Vàng Cửa Hàng</p>
        <p>(Đơn vị: VND/chỉ)</p>
      </h2>

      <!-- Material Table Content -->
      <table mat-table
             class="table-gold__content"
             [dataSource]="prices">

        <!-- Table Headers -->
        <tr mat-header-row
            class="table-gold__sub-header"
            *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row
            *matRowDef="let row; columns: displayedColumns;"></tr>

        <!-- Gold Type Name -->
        <ng-container matColumnDef="name"
                      class="table-gold__item">
          <th mat-header-cell
              *matHeaderCellDef>Tên Vàng</th>
          <td mat-cell
              *matCellDef="let gold"> {{gold.name}} </td>
        </ng-container>

        <!-- Latest Bid Price Column -->
        <ng-container matColumnDef="latestBidPrice"
                      class="table-gold__item">
          <th mat-header-cell
              *matHeaderCellDef
              class="table-gold__item--bid-cell-header">Mua Vào</th>
          <td mat-cell
              class="table-gold__item--bid-cell"
              *matCellDef="let gold"> {{gold.latestBidPrice | currency: 'VND'}} </td>
        </ng-container>

        <!-- Latest Ask Price Column -->
        <ng-container matColumnDef="latestAskPrice"
                      class="table-gold__item">
          <th mat-header-cell
              *matHeaderCellDef
              class="table-gold__item--ask-cell-header">Bán Ra</th>
          <td mat-cell
              *matCellDef="let gold"
              class="table-gold__item--ask-cell"> {{gold.latestAskPrice | currency: "VND"}} </td>
        </ng-container>

        <!-- Gold Content Column -->
        <ng-container matColumnDef="content"
                      class="table-gold__item">
          <th mat-header-cell
              *matHeaderCellDef>Loại Vàng</th>
          <td mat-cell
              *matCellDef="let gold">{{gold.content}}%</td>
        </ng-container>
      </table>
    </div>
  </section>

  <!-- Global Gold Price Chart -->
  <section class="chart-gold"
           id="id-gold-chart-tradingview-widget">
    <h2 class="chart-gold__header mat-elevation-z2">
      <p>Giá Vàng Thế Giới</p>
      <p>(VND/ounce)</p>
    </h2>
  </section>
</div>
