@import "abstracts/variables";
@import "abstracts/mixins";

.header {
  @include paddingHorizon($padding-layout);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  flex-wrap: nowrap;
  gap: 3rem;

  &__nav {
    display: flex;
    gap: 1rem;

    a {
      flex: 0 1 auto;
    }
  }
}