<header class="header u-margin-bottom-small">
  <app-logo [classLogoSize]="'logo--big'"></app-logo>

  <span class="divider"></span>

  <nav class="header__nav">
    @if (!(authService.isLoggedIn$ | async)) {
    @for (link of navLinksNotLogin; track $index) {
    <a href="#"
       class="btn btn--grad"
       routerLink="{{link.route}}">{{link.name}}</a>
    }
    } @else {
    @for (link of navLinksAlreadyLogin; track $index) {
    <a (click)="link.action()"
       class="btn btn--grad">{{link.name}}</a>
    }
    }
  </nav>

</header>