<header class="header u-margin-bottom-small">
  <app-logo [classLogoSize]="'logo--big'"></app-logo>

  <span class="divider"></span>

  <!-- If user is currently on session, change to logout component -->

  <nav class="header__nav">
    @if (!(authService.isLoggedIn$ | async)) {
    @for (component of componentsNotLogin; track $index) {
    <a href="#"
       class="btn btn--grad"
       routerLink="{{component.route}}">{{component.name}}</a>
    }
    } @else {
    <!-- @for (component of componentsNotLogin; track $index) {
    <a href="#"
       class="btn btn--grad"
       routerLink="{{component.route}}">{{component.name}}</a>
    } -->
    }
  </nav>



</header>