*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  font-family: "Merriweather-R", sans-serif;
}

body {
  box-sizing: border-box;
  padding: 2rem;
  color: $color-black;
}

ul {
  list-style-type: none;
}

a:link,
a:visited,
a:focus,
a:hover,
a:active {
  text-decoration: none;
}