@font-face {
  font-family: 'Merriweather';
  src: url('../../assets/fonts/Merriweather/Merriweather-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MajorMonoDisplay';
  src: url('../../assets/fonts/MajorMonoDisplay/MajorMonoDisplay-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}