<button class="btn btn--grad btn--with-icon"
        (click)="onGoBackToProductsManagement()"><mat-icon>arrow_back</mat-icon>Back to Products</button>

<!-- Product Details Section -->
<section class="product-details u-margin-bottom-medium u-margin-top-medium"
         *ngIf="product$ | async as product">

  <!-- Image -->
  <img class="product-details__image"
       [src]="product.imageUrl"
       alt="{{ product.name }}">

  <!-- Info -->
  <div class="product-details__info">

    <!-- Header -->
    <h2 class="product-details__title u-margin-bottom-medium">{{ product.name }}</h2>

    <!-- Specs and Gems -->
    <div class="flex">
      <div class="specs">

        <p class="specs__item specs__item--description">
          <span class="specs__label">Mô tả:</span>
          {{product.description }}
        </p>

        <p class="specs__item">
          <span class="specs__label">Loại vàng:</span> {{ product.goldType }}
        </p>
        <p class="specs__item">
          <span class="specs__label">Trọng lượng vàng:</span> {{ product.goldWeight }} chỉ
        </p>
        <p class="specs__item">
          <span class="specs__label">Giá mua mới nhất:</span> {{ product.latestBidPrice | currency: 'vnd': 'VND '}}
        </p>
        <p class="specs__item">
          <span class="specs__label">Tổng trọng lượng:</span> {{ product.totalWeight }} chỉ
        </p>
        <p class="specs__item">
          <span class="specs__label">Tiền công:</span> {{ product.labour | currency: 'vnd': 'VND '}}
        </p>
        <p class="specs__item">
          <span class="specs__label">Số lượng:</span> {{ product.quantity }}
        </p>
        <p class="specs__item">
          <span class="specs__label">Tên danh mục phụ:</span> {{ product.subCategoryName }}
        </p>
        <p class="specs__item">
          <span class="specs__label">Tên danh mục:</span> {{ product.categoryName }}
        </p>
        <p class="specs__item">
          <span class="specs__label">Tên quầy bán:</span> {{ product.saleCounterName }}
        </p>
        <p class="specs__item">
          <span class="specs__label">Giá sản phẩm:</span> {{ product.productPrice | currency: 'vnd': 'VND '}}
        </p>
        <p class="specs__item specs__item--status">
          <span class="specs__label">Trạng thái:</span> {{ product.status }}
        </p>
      </div>

      <!-- Gem Details -->
      <div class="gems-details"
           *ngIf="product.gems && product.gems.length">
        <h3 class="gems-details__title mat-elevation-z3">Đá quý</h3>
        <mat-accordion>

          <!-- A panel -->
          <mat-expansion-panel *ngFor="let gem of product.gems">

            <!-- Header -->
            <mat-expansion-panel-header class="gems-details__header">
              <mat-panel-title>
                {{ gem.name }} - {{gem.carat}} chỉ
              </mat-panel-title>
            </mat-expansion-panel-header>

            <div matExpansionPanelContent
                 class="specs">
              <p class="specs__item specs__item--description"><span class="specs__label">Mô tả:</span> {{
                gem.description }}</p>
              <p class="specs__item"><span class="specs__label">Loại đá:</span> {{ gem.gemTypeId }}</p>
              <p class="specs__item"><span class="specs__label">Tỷ lệ:</span> {{ gem.proportion }}</p>
              <p class="specs__item"><span class="specs__label">Đánh bóng:</span> {{ gem.polish }}</p>
              <p class="specs__item"><span class="specs__label">Huỳnh quang:</span> {{ gem.fluorescence }}</p>
              <p class="specs__item"><span class="specs__label">Đối xứng:</span> {{ gem.symmetry }}</p>
              <p class="specs__item"><span class="specs__label">Trọng lượng:</span> {{ gem.carat }} chỉ</p>
              <p class="specs__item"><span class="specs__label">Kiểu cắt:</span> {{ gem.cut }}</p>
              <p class="specs__item"><span class="specs__label">Độ tinh khiết:</span> {{ gem.clarity }}</p>
              <p class="specs__item"><span class="specs__label">Màu sắc:</span> {{ gem.color }}</p>
              <p class="specs__item"><span class="specs__label">Hình dạng:</span> {{ gem.shape }}</p>
              <p class="specs__item"><span class="specs__label">Giá mới nhất:</span> {{ gem.latestPrice | currency:
                'vnd': 'VND '}}</p>
              <p class="specs__item"><span class="specs__label">Trọng lượng đá:</span> {{ gem.gemWeight }} chỉ</p>
              <p class="specs__item"
                 *ngIf="gem.certificateCode"><span class="specs__label">Mã chứng nhận:</span> {{ gem.certificateCode
                }}</p>
              <p class="specs__item"><span class="specs__label">Số lượng:</span> {{ gem.quantity }}</p>
              <p class="specs__item"><span class="specs__label">Giá đá:</span> {{ gem.gemsPrice | currency:
                'vnd':'VND '}}
              </p>
            </div>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
    </div>
  </div>
</section>