<!-- Content -->
<form [formGroup]="formEditOrCreate"
      (ngSubmit)="saveModal()">

  <!-- Title -->
  <h2 mat-dialog-title>{{dataFromParent.title}}</h2>

  <!-- Full Name -->
  <mat-dialog-content>
    <mat-form-field appearance="outline">
      <mat-label>Full Name</mat-label>
      <input matInput
             formControlName="fullName"
             name="fullName">
    </mat-form-field>
  </mat-dialog-content>

  <!-- Email -->
  <mat-dialog-content>
    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input matInput
             formControlName="email"
             name="email">
    </mat-form-field>
  </mat-dialog-content>

  <!-- Action to Close or Save -->
  <mat-dialog-actions>
    <button class="btn btn--grad"
            (click)="closeModal()">Cancel</button>
    <button class="btn btn--primary"
            type="submit">Save</button>
  </mat-dialog-actions>

  <pre>{{inputData.initialData | json}}</pre>
</form>