<mat-card class="card-sale-counter"
          [ngClass]="{
            'card-sale-counter--unassigned': isUnassigned(),
            'card-sale-counter--assigned': !isUnassigned(),
          }"
          appearance="outlined">

  <!-- Name  -->
  <mat-card-header class="card-sale-counter__header"
                   [ngClass]="{
    'card-sale-counter__header--unassigned': isUnassigned(),
    'card-sale-counter__header--assigned': !isUnassigned(),
  }">
    <mat-card-title class="card-sale-counter__name">
      <mat-icon>chair_alt</mat-icon>{{saleCounter().name}}</mat-card-title>
  </mat-card-header>

  <!-- Employee and Quantity -->
  <mat-card-content class="card-sale-counter__content u-margin-top-small">
    <p class="card-sale-counter__quantity">Tổng số hàng: <span>
        {{saleCounter().productQuantity}}</span></p>
    <p class="card-sale-counter__employee">Nhân Viên: <span>
        {{saleCounter().userName}}</span></p>
    <p class="card-sale-counter__revenue">Doanh Thu Hôm Nay: <span>
        {{revenue | currency:'VND'}}</span></p>
  </mat-card-content>

  <!-- Actions -->
  <mat-card-actions class="card-sale-counter__actions">
    <app-generic-dropdown #allSellersDropdownRef
                          label="Chọn Nhân viên"
                          [options]="allSellersDropdown"
                          (onSelectionChange)="onAssignEmployeeIdFromChild($event)"></app-generic-dropdown>
    <button class="btn  btn--with-icon"
            [ngClass]="{
      'btn--primary-dark': isUnassigned(),
      'btn--grad': !isUnassigned(),
    }"
            (click)="onUnassignEmployeeFromCounter()"><mat-icon>delete</mat-icon>Hủy làm việc</button>
  </mat-card-actions>
</mat-card>