@import "abstracts/variables";

.barcode-scanner {
  &__title {
    line-height: 2.4rem;
    background-color: $color-primary-dark;
    color: $color-white;
    padding: 1.6rem;
    text-transform: uppercase;
    letter-spacing: 1.3px;
  }
}

button {
  margin-top: 10px;
}