<p>statistic-dashboard works!</p>
<!-- <chart-mychart></chart-mychart>
<app-counter-revenues-chart></app-counter-revenues-chart> -->

<div class="chart-container">
    <chart-mychart></chart-mychart>
    <app-counter-revenues-chart></app-counter-revenues-chart>
</div>

<div class="chart-container">
    <app-counter-revenues-yearly-chart></app-counter-revenues-yearly-chart>
    <app-counter-revenues-in-a-month-chart></app-counter-revenues-in-a-month-chart>
</div>


<!-- <app-counter-revenues-yearly-chart></app-counter-revenues-yearly-chart> -->

