@import "abstracts/variables";

.chart-container {
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  gap: $gutter-layout;
  /* Optional: Add spacing between items */
}

.first-chart-column {
  display: flex;
  flex-direction: column;
  gap: $gutter-layout;
}

.chart-container>* {
  flex: 1;
  /* Make each child take equal space */
  margin: 0 10px;
  /* Optional: Add some margin between the components */
}