<div>
  <div class="chart-title">
    <strong>Doanh Thu Các Quầy Theo Tháng</strong>
  </div>
  <div class="dropdowns">
    <!-- Year Dropdown -->
    <div class="year-dropdown">
      <app-generic-dropdown #yearDropdownRef
                            label="Chọn Năm"
                            [options]="yearDropdown"
                            (onSelectionChange)="onSelectChangeYearFromParent($event)">
      </app-generic-dropdown>
    </div>
  
    <!-- Month Dropdown -->
    <div class="month-dropdown">
      <app-generic-dropdown #yearDropdownRef
                            label="Chọn Tháng"
                            [options]="monthDropdown"
                            (onSelectionChange)="onSelectChangeMonthFromParent($event)">
      </app-generic-dropdown>
    </div>
  </div>

  <canvas id="columnchart1"></canvas>
</div>