<div class="table-datasource">
  <!-- Filter, Searching Input  -->
  <mat-form-field>
    <mat-label>Search your information</mat-label>
    <input matInput
           placeholder="Search your keyword"
           (keyup)="applyFilter($event)"
           #input>
  </mat-form-field>

  <!-- Main Table -->
  <div class="mat-elevation-z1">
    <table mat-table
           matSort
           [dataSource]="dataSource">

      <!-- Definition of headers and rows -->
      <tr mat-header-row
          *matHeaderRowDef="columnsToDisplay"></tr>
      <tr mat-row
          *matRowDef="let row; columns: columnsToDisplay;"></tr>

      <!-- Loops and extract the value from each object Customer -->
      @for (column of columnsToDisplay; track $index) {
      <ng-container [matColumnDef]="
          column">
        <th mat-header-cell
            *matHeaderCellDef
            mat-sort-header>{{column}}</th>
        <td mat-cell
            *matCellDef="let object">{{object[column]}}</td>
      </ng-container>
      }

      <!-- Row shown when there is no matching data. -->
      <tr class="mat-row"
          *matNoDataRow>
        <td class="mat-cell"
            colspan="5">No data matching the filter "{{input.value}}"</td>
      </tr>
    </table>

    <!-- Pagination -->
    <mat-paginator [length]="columnsToDisplay"
                   [pageSize]="pageSize"
                   [pageIndex]="pageIndex"
                   (page)="pageEvent($event)"
                   [pageSizeOptions]="[5, 10, 25, 100]"
                   aria-label="Select items per page"></mat-paginator>
  </div>
</div>