<section>
  <form [formGroup]="goldPriceForm"
        class="gold-form">
    <div class="gold-form__header">
      Cập nhật giá vàng
    </div>

    <!-- Current gold -->
    <div class="gold-form__current u-margin-top-small">
      <button class="btn btn--primary btn--with-icon"
              (click)="getWorldGoldPrice(); $event.preventDefault()"><mat-icon>attach_money</mat-icon>Lấy giá vàng thế
        giới (VND/Chi)
      </button>
      <div *ngIf="currentGoldPrice"
           class="gold-form__current-price">
        {{currentGoldPrice | currency:'VND'}}
      </div>
    </div>

    <mat-divider class="u-margin-top-small"></mat-divider>

    <!-- Options -->
    <div class="gold-form__options u-margin-top-small">
      <!-- Bid Rate -->
      <mat-form-field appearance="outline">
        <mat-label>Giá Bán</mat-label>
        <input matInput
               type="text"
               formControlName="bidPrice"
               name="bidPrice">
        <!-- Handle Error on Control -->
        @if (goldPriceForm.get('bidPrice')?.invalid) {
        <mat-error>{{updateErrorMessage('bidPrice')}}</mat-error>
        }
      </mat-form-field>

      <!-- Ask Rate -->
      <mat-form-field appearance="outline">
        <mat-label>Giá Mua</mat-label>
        <input matInput
               type="text"
               formControlName="askPrice"
               name="askPrice">
        <!-- Handle Error on Control -->
        @if (goldPriceForm.get('askPrice')?.invalid) {
        <mat-error>{{updateErrorMessage('askPrice')}}</mat-error>
        }
      </mat-form-field>

      <app-generic-dropdown label="Chọn Loại Vàng"
                            class="gold-form__dropdown"
                            [options]="goldsDropdown"
                            (onSelectionChange)="onSelectionChangeGoldTypeFromParent($event)">
      </app-generic-dropdown>
    </div>

    <div *ngIf="selectedGold"
         class="gold-form__selected-gold">
      <div class="gold-form__selected-gold__info">
        <strong>Loại Vàng</strong>
        <strong>{{selectedGold.name}}</strong>
      </div>

      <div class="gold-form__selected-gold__info">
        <strong>Hàm Lượng</strong>
        <strong>{{selectedGold.content/100 | percent}}</strong>
      </div>

      <div class="gold-form__selected-gold__info">
        <strong>Giá Bán Cửa Hàng Hiện Tại (VND/Chỉ)</strong>
        <strong>{{selectedGold.latestBidPrice | currency:'VND'}}</strong>
      </div>

      <div class="gold-form__selected-gold__info">
        <strong>Giá Mua Cửa Hàng Hiện Tại (VND/Chỉ)</strong>
        <strong>{{selectedGold.latestAskPrice| currency:'VND'}}</strong>
      </div>
    </div>

    <mat-divider></mat-divider>

    <div class="gold-form__buttons">
      <button class="btn btn--grad btn--with-icon gold-form__buttons__reset"
              (click)="onReset(); $event.preventDefault()"><mat-icon>restore</mat-icon>Hủy Nhập</button>
      <button class="btn btn--primary btn--with-icon gold-form__buttons__submit"
              (click)="onSubmit(); $event.preventDefault()"
              [disabled]="!goldPriceForm.valid || selectedGold == undefined">
        <mat-icon>update</mat-icon>Cập Nhật</button>
    </div>
  </form>
</section>