<section>
  <form [formGroup]="goldRateForm"
        class="gold-form">
    <div class="gold-form__header">
      CẬP NHẬT GIÁ VÀNG
    </div>

    <div class="gold-form__current">
      <button class="btn btn--grad btn--with-icon"
              (click)="getWorldGoldPrice(); $event.preventDefault()"><mat-icon>attach_money</mat-icon>Lấy giá vàng thế
        giới (VND/Chi)
      </button>
      <div *ngIf="currentGoldPrice"
           class="gold-form__current-price">
        {{currentGoldPrice | currency:'VND'}}
      </div>

    </div>

    <mat-divider></mat-divider>

    <div class="gold-form__options">
      <!-- Bid Rate -->
      <mat-form-field appearance="outline">
        <mat-label>Tỉ Lệ Áp Giá Bán</mat-label>
        <input matInput
               type="text"
               formControlName="bidRate"
               name="bidRate">
        <!-- Handle Error on Control -->
        @if (goldRateForm.get('bidRate')?.invalid) {
        <mat-error>{{updateErrorMessage('bidRate')}}</mat-error>
        }
      </mat-form-field>

      <!-- Ask Rate -->
      <mat-form-field appearance="outline">
        <mat-label>Tỉ Lệ Áp Giá Mua</mat-label>
        <input matInput
               type="text"
               formControlName="askRate"
               name="askRate">
        <!-- Handle Error on Control -->
        @if (goldRateForm.get('askRate')?.invalid) {
        <mat-error>{{updateErrorMessage('askRate')}}</mat-error>
        }
      </mat-form-field>

      <app-generic-dropdown label="Chọn Loại Vàng"
                            class="gold-form__dropdown"
                            [options]="goldsDropdown"
                            (onSelectionChange)="onSelectionChangeRoleNameFromParent($event)">
      </app-generic-dropdown>
    </div>

    <div *ngIf="selectedGold"
         class="gold-form__selected-gold">
      <div class="gold-form__selected-gold__info">
        <strong>Loại Vàng</strong>
        <strong>{{selectedGold.name}}</strong>
      </div>

      <div class="gold-form__selected-gold__info">
        <strong>Độ Tinh Khiết</strong>
        <strong>{{selectedGold.content/100 | percent}}</strong>
      </div>

      <div class="gold-form__selected-gold__info">
        <strong>Giá Bán Cửa Hàng Hiện Tại (VND/Chỉ)</strong>
        <strong>{{selectedGold.latestBidPrice | currency:'VND'}}</strong>
      </div>

      <div class="gold-form__selected-gold__info">
        <strong>Giá Mua Cửa Hàng Hiện Tại (VND/Chỉ)</strong>
        <strong>{{selectedGold.latestAskPrice| currency:'VND'}}</strong>
      </div>
    </div>

    <mat-divider></mat-divider>

    <div class="gold-form__calculated">
      <button class="btn btn--grad btn--with-icon gold-form__calculated__button"
              (click)="calculateGoldPrice(); $event.preventDefault()"><mat-icon>attach_money</mat-icon>Tính giá bán/mua
        (VND/chi)
      </button>

      <div *ngIf="newBidPrice"
           class="gold-form__calculated__bidprice">
        <strong>Giá Bán (VND/Chỉ)</strong>
        <strong>{{newBidPrice | currency:'VND'}}</strong>
      </div>

      <div *ngIf="newAskPrice"
           class="gold-form__calculated__askprice">
        <strong>Giá Mua (VND/Chỉ)</strong>
        <strong>{{newAskPrice | currency:'VND'}}</strong>
      </div>
    </div>

    <div class="gold-form__buttons">
      <button class="btn btn--grad btn--with-icon gold-form__buttons__reset"
              (click)="onReset(); $event.preventDefault()"><mat-icon>restore</mat-icon>Đặt Lại</button>
      <button class="btn btn--primary btn--with-icon gold-form__buttons__submit"
              (click)="onSubmit(); $event.preventDefault()"
              [disabled]="!goldRateForm.valid || newBidPrice == undefined
              || newAskPrice == undefined || selectedGold == undefined">
        <mat-icon>update</mat-icon>Cập Nhật</button>
    </div>
  </form>
</section>