@import "abstracts/variables";

.footer {
  display: inline-block;
  position: fixed;
  bottom: 0;
  left: 0;
  height: 8vh;
  width: 100vw;
  background-color: $color-black;
  color: $color-white;
  padding-left: 2.7rem;

  &__copyright {

    line-height: 8vh;

    span {
      font-size: 1.4rem;
      margin-right: 1rem;
      text-transform: uppercase;
      letter-spacing: 1.4px;
    }
  }
}