<!-- Cart icon -->

<!-- Search Product, Filter Product Name,  Categories, Subcategory -->
<section class="flex">

  <mat-form-field appearance="fill">
    <mat-label>Tìm theo tên</mat-label>
    <input matInput
           placeholder="Filter by name">
  </mat-form-field>

  <app-generic-dropdown label="Chọn loại trang sức"
                        [options]="subCategoriesDropdown"
                        (onSelectionChange)="onSelectChangeSubCategoryIdFromParent($event)">
  </app-generic-dropdown>


  <!-- <span>
    <mat-form-field appearance="fill">
      <mat-label></mat-label>
      <mat-select>
        <mat-option value="cart1">Cart 1</mat-option>
        <mat-option value="cart2">Cart 2</mat-option>
        <mat-option value="cart3">Cart 3</mat-option>
      </mat-select>
    </mat-form-field>
  </span>

  <span>
    <mat-form-field appearance="fill">
      <mat-label>Loại vàng</mat-label>
      <mat-select>
        <mat-option value="cart1">Cart 1</mat-option>
        <mat-option value="cart2">Cart 2</mat-option>
        <mat-option value="cart3">Cart 3</mat-option>
      </mat-select>
    </mat-form-field>
  </span>

  <span>
    <mat-form-field appearance="fill">
      <mat-label>Loại mặt hàng</mat-label>
      <mat-select>
        <mat-option value="cart1">Cart 1</mat-option>
        <mat-option value="cart2">Cart 2</mat-option>
        <mat-option value="cart3">Cart 3</mat-option>
      </mat-select>
    </mat-form-field>
  </span> -->

  <button mat-button
          color="accent">Send Request</button>
</section>

<!-- Paginator -->
<mat-paginator [length]="totalProducts"
               [pageSize]="productSearchCriteria.pageSize"
               [pageSizeOptions]="[5, 10, 25, 100]"
               (page)="onPageChange($event)"
               aria-label="Select page">
</mat-paginator>


<!-- List of Product -->
<!-- - Using @for too loop through the cards -->
<section class="grid grid--responsive">
  @for (product of products$ | async; track $index) {
  <app-card-product [product]="product"></app-card-product>
  }
</section>