<!-- Cart icon -->

<!-- Search Product, Filter Product Name,  Categories, Subcategory -->
<section class="flex">

  <!-- Filter on Names -->
  <mat-form-field appearance="fill">
    <mat-label>Tìm theo tên</mat-label>
    <input matInput
           placeholder="Filter by name">
  </mat-form-field>

  <!-- Filter on Sub Categories -->
  <app-generic-dropdown #subCategoriesDropdownRef
                        label="Chọn loại trang sức"
                        [options]="subCategoriesDropdown"
                        (onSelectionChange)="onSelectChangeSubCategoryIdFromParent($event)">
  </app-generic-dropdown>

  <!-- Filter on Golds -->
  <app-generic-dropdown #goldsDropdownRef
                        label="Chọn loại vàng"
                        [options]="goldsDropdown"
                        (onSelectionChange)="onSelectChangeGoldIdFromParent($event)">
  </app-generic-dropdown>


  <!-- Filter on Sort Criteria -->
  <app-generic-dropdown #sortsCriteriaDropdownRef
                        label="Chọn loại sắp xếp"
                        [options]="sortsCriteriaDropdown"
                        (onSelectionChange)="onSelectChangeSortsCriteriaFromParent($event)">
  </app-generic-dropdown>



  <button class="btn btn--primary"
          (click)="onResetFilters()"
          color="accent">Xóa bộ lọc</button>

</section>

<!-- Paginator -->
<mat-paginator [length]="totalProducts"
               [pageSize]="productSearchCriteria.pageSize"
               [pageSizeOptions]="[5, 10, 25, 100]"
               (page)="onPageChange($event)"
               aria-label="Select page">
</mat-paginator>


<!-- List of Product -->
<!-- - Using @for too loop through the cards -->
<section class="grid grid--responsive">
  @for (product of products$ | async; track $index) {
  <app-card-product [product]="product"></app-card-product>
  }
</section>