<!-- Search Product, Filter Product Name,  Categories, Subcategory -->
<section class="filter-controls u-margin-bottom-small mat-elevation-z2">

  <div class="filter-controls__dropdowns">
    <!-- Filter on Sub Categories -->
    <app-generic-dropdown #subCategoriesDropdownRef
                          label="Chọn loại trang sức"
                          [options]="subCategoriesDropdown"
                          (onSelectionChange)="onSelectChangeSubCategoryIdFromParent($event)">
    </app-generic-dropdown>

    <!-- Filter on Golds -->
    <app-generic-dropdown #goldsDropdownRef
                          label="Chọn loại vàng"
                          [options]="goldsDropdown"
                          (onSelectionChange)="onSelectChangeGoldIdFromParent($event)">
    </app-generic-dropdown>

    <!-- Filter on Sort Criteria -->
    <app-generic-dropdown #sortsCriteriaDropdownRef
                          label="Sắp xếp số lượng"
                          [options]="sortsCriteriaDropdown"
                          (onSelectionChange)="onSelectChangeSortQuantityFromParent($event)">
    </app-generic-dropdown>
  </div>

  <div class="filter-controls__filter-and-reset">
    <!-- Filter on Names -->
    <app-generic-search #nameSearchInputRef
                        label="Tìm kiếm theo tên"
                        (onValueChanges)="onValueChangesNameFromParent($event)">
    </app-generic-search>

    <!-- Reset all input element -->
    <button class="btn btn--primary-dark"
            (click)="onResetFilters()">Xóa bộ lọc</button>
  </div>
</section>

<!-- Paginator -->
<mat-paginator [length]="totalProducts"
               [pageSize]="productSearchCriteria.pageSize"
               [pageSizeOptions]="[5, 10, 25, 100]"
               (page)="onPageChange($event)"
               style="background-color: #FAFAFA"
               aria-label="Select page">
</mat-paginator>

<ngx-spinner>

</ngx-spinner>

<!-- List of Product -->
<!-- - Using @for to loop through the cards -->
<section class="grid grid--responsive u-margin-top-small">
  @for (product of products$ | async; track $index) {
  <app-card-product [product]="product"></app-card-product>
  }
</section>