// COLORS
$color-primary: #F4CE14;
$color-primary-light: #fde68a;
$color-primary-dark: #fbbf24;

$color-secondary-light: #94a3b8;
$color-secondary-dark: #475569;

$color-tertiary-light: #495E57;
$color-tertiary-dark: #384a44;

// $color-grey-light-1: #f7f7f7;
// $color-grey-light-2: #eee;

// $color-grey-dark: #777;
// $color-grey-dark-2: #999;
// $color-grey-dark-3: #333;

$color-white: #fafaf9;
$color-black: #0a0a0a;

// FONT
$default-font-size: 1.6rem;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;