.btn {

  &,
  &:link,
  &:visited {
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.2rem 3.5rem;
    border-radius: 10rem;
    font-size: $default-font-size;
    font-weight: 700;
    letter-spacing: 1.3px;

    transition: all 0.5s;

    cursor: pointer;
  }

  &:focus,
  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 1rem 2rem rgba($color-black, .2);
  }

  &:active {
    transform: translateY(-1px);
    box-shadow: 0 .5rem 1rem rgba($color-black, .2);
    outline: 1px solid $color-primary-light;
  }

  &--grad {
    background-image: linear-gradient(to right, $color-secondary-dark 0%, $color-secondary-light 51%, $color-secondary-dark 100%);
    color: $color-white;
  }

  &--animated {
    animation: moveInBottom 0.75s ease-out 0.75s;
    animation-fill-mode: backwards;
  }
}