// Follow the rule Love Fear Hate

.btn {

  &,
  &:link,
  &:visited {
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.2rem 3.0rem;
    width: max-content;
    text-wrap: nowrap;
    border-radius: 10rem;
    font-size: $default-font-size;
    font-weight: 500;
    letter-spacing: 1.3px;
    color: $color-white;

    transition: all 0.1s ease-in-out;
    cursor: pointer;
  }

  // &:focus,
  &:hover {
    transform: translateY(-9px);
    box-shadow: 0 1rem 2rem rgba($color-black, .2);
    outline: 2px solid $color-primary-light;
  }

  &:active {
    transform: translateY(-5px);
    box-shadow: 0 .5rem 1rem rgba($color-black, .2);
  }

  &--grad {
    background-image: linear-gradient(to right, $color-secondary-dark 0%, $color-secondary-light 51%, $color-secondary-dark 100%);
    color: $color-white;
  }

  &--animated {
    animation: moveInBottom 5.75s ease-out 4.75s;
    animation-fill-mode: backwards;
  }

  &--primary {
    background-color: $color-primary-dark;
    color: $color-white;

    // &:focus,
    &:hover {
      outline: 2px solid $color-grey-dark-3;
    }
  }

  &--primary-light {
    background-color: $color-primary-light;
    color: $color-white;

    // &:focus,
    &:hover {
      outline: 2px solid $color-grey-dark-3;
    }
  }

  &--word-wrap {
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;
    line-height: 1.8rem;
  }
}