.filter-controls {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  padding: $padding-layout;
  padding-bottom: calc($padding-layout - 22px);
  background-color: $color-grey-light;
  border-radius: $border-radius-general;

  &__filter-and-reset {
    order: 1;
    display: flex;
    flex-wrap: wrap;
    gap: $gutter-layout;

    &>*:nth-child(1) {
      flex: 1;
    }

    button {
      align-self: center;
      transform: translateY(-25%);
      flex: 0;
    }
  }

  &__dropdowns {
    order: 2;
    display: flex;
    gap: $gutter-layout;
    flex-wrap: wrap;
  }
}