.form {
  display: inline-block;
  text-align: center;

  @include absCenter(35%);

  &__heading {
    font-size: 3.0rem;
    text-align: center;
  }

  &__input-control {
    mat-form-field {
      width: 30rem;
      min-width: 20rem;
    }
  }
}