<mat-card class="card-promotion"
          appearance="outlined">

  <!-- Name and Discount -->
  <mat-card-header class="card-promotion__header">
    <mat-card-title class="card-promotion__name">{{promotion().name}}</mat-card-title>
    <mat-card-subtitle class="card-promotion__discount u-margin-top-small">Giảm giá {{promotion().discount |
      percent}}</mat-card-subtitle>
  </mat-card-header>

  <!-- Content -->
  <mat-card-content class="card-promotion__content">
    <p class="card-promotion__expDate">Hết hạn vào: <span>{{ promotion().expDate }}</span></p>
    <p class="card-promotion__effDate">Có hiệu lực từ: <span>{{ promotion().effDate }}</span></p>
    <p class="card-promotion__status"
       [ngClass]="{
        'card-promotion__status--active': promotion().status == PromotionStatusEnum.Active,
        'card-promotion__status--expired': promotion().status == PromotionStatusEnum.Expired}">
      {{promotion().status}}
    </p>
  </mat-card-content>

  <!-- Actions -->
  @if (this.isDisablePromotionMode()) {
  <mat-card-actions class="card-promotion__actions">
    <button class="btn btn--grad btn--with-icon"
            (click)="onDisablePromotionByIdFromChild(this.promotion().id)"><mat-icon>delete</mat-icon>Tắt khuyến
      mãi</button>
  </mat-card-actions>
  }
</mat-card>