<h1 mat-dialog-title>Create New Basket</h1>

<!-- Form -->
<form [formGroup]="basketForm"
      (ngSubmit)="onSubmit()">

  <!-- Content -->
  <div mat-dialog-content>

    <!-- Customer Name -->
    <mat-form-field>
      <mat-label>Customer Name</mat-label>
      <input matInput
             formControlName="customerName">
      <mat-error *ngIf="basketForm.controls['customerName'].invalid">{{getErrorMessage('customerName')}}</mat-error>
    </mat-form-field>

    <!-- Phone Number -->
    <mat-form-field>
      <mat-label>Phone Number</mat-label>
      <input matInput
             formControlName="phoneNumber">
      <mat-error *ngIf="basketForm.controls['phoneNumber'].invalid">{{getErrorMessage('phoneNumber')}}</mat-error>
    </mat-form-field>
  </div>

  <!-- Actions -->
  <div mat-dialog-actions>
    <button class="btn btn--grad"
            (click)="onNoClick()">Cancel</button>
    <button class="btn btn--primary"
            type="submit"
            [disabled]="basketForm.invalid"
            cdkFocusInitial>OK</button>
  </div>
</form>