<header class="header
                u-padding-bottom-small
                u-padding-top-small">

  <!-- Website Logo -->
  <app-logo [classLogoSize]="'logo--big'"></app-logo>

  <!-- Divider -->
  <span class="divider"></span>

  <!-- Role + Name -->
  @if (this.authService.currentUser()) {
  <span class="header__current-role">{{this.authService.currentUser()?.role}}</span>

  <!-- Extra Divider -->
  <span class="divider"></span>
  }

  <!-- A group of action buttons -->
  <nav class="header__actions">
    @if (!(authService.currentUser())) {
    <button class="btn btn--grad btn--with-icon"
            routerLink="{{navLinks.login.route}}"><mat-icon>{{navLinks.login.icon}}</mat-icon>{{navLinks.login.name}}</button>
    <button class="btn btn--primary-dark btn--with-icon"
            routerLink="{{navLinks.goldChart.route}}"><mat-icon>{{navLinks.goldChart.icon}}</mat-icon>{{navLinks.goldChart.name}}</button>
    } @else {
    <button class="btn btn--primary-dark btn--with-icon"
            (click)="navLinks.showProfile.action()"><mat-icon>{{navLinks.showProfile.icon}}</mat-icon>{{navLinks.showProfile.name}}</button>
    <button class="btn btn--grad btn--with-icon"
            (click)="navLinks.logout.action()"><mat-icon>{{navLinks.logout.icon}}</mat-icon>{{navLinks.logout.name}}</button>
    }
  </nav>

</header>
