<div class="forgot-password">
    <h2 class="forgot-password__title">Đổi Mật Khẩu</h2>
  
    <form [formGroup]="emailForm" class="forgot-password__form">
      <mat-form-field appearance="outline">
        <mat-label>Nhập Email</mat-label>
        <input matInput type="text" formControlName="email" name="email" required>
        <mat-error *ngIf="emailForm.get('email')?.invalid">
          {{ updateErrorMessage('email') }}
        </mat-error>
      </mat-form-field>
  
      <button class="btn btn--primary-dark btn--with-icon forgot-password__button"
             (click)="onSendResetPasswordLink()"><mat-icon>email</mat-icon>Gửi Email</button>
    </form>
  </div>