<form class="form--modal modal-profile">

  <!-- Title -->
  <h2 class="form--modal__title"
      mat-dialog-title>{{modalConfigFromParent.title}}</h2>

  <!-- Content -->
  <mat-dialog-content class="form--modal__content u-padding-top-small u-padding-bottom-small">

    <ng-container *ngIf="currentUserInfo | async as user">

      <!-- Avatar -->
      <img [src]="user.image_Url"
           class="modal-profile__img" />

      <p class="modal-profile__fullName">{{user.fullName}}</p>
      <p class="modal-profile__userName">{{user.userName}}</p>
      <p class="modal-profile__status mat-elevation-z2">Status: {{user.status}}</p>

      <ul class="grid grid--responsive modal-profile__infors">
        <li>
          <p>{{user.email}}</p>
        </li>
        <li>
          <p>{{user.address}}</p>
        </li>
        <li>
          <p>{{user.dateOfBirth}}</p>
        </li>
        <li>
          <p>{{user.gender}}</p>
        </li>
        <li>
          <p>{{user.phoneNumber}}</p>
        </li>
        <li>
          <p>{{user.role}}</p>
        </li>
      </ul>
    </ng-container>
  </mat-dialog-content>

  <!-- Action to Close -->
  <mat-dialog-actions class="form--modal__controls">
    <button class="btn btn--grad btn--with-icon"
            (click)="onCloseModal()"><mat-icon>cancel</mat-icon>{{modalConfigFromParent.closeButtonLabel}}</button>
  </mat-dialog-actions>
</form>