<div class="chart-container">
    <div class="chart-title">
        <strong>Doanh Thu Các Quầy Theo Năm</strong>
    </div>
    <!-- Year Dropdown -->
    <div class="year-dropdown">
        <app-generic-dropdown #yearDropdownRef
                              label="Chọn Năm"
                              [options]="yearDropdown"
                              (onSelectionChange)="onSelectChangeYearFromParent($event)">
        </app-generic-dropdown>
    </div>
    <canvas id="pieChart"></canvas>
</div>