.chart-title{
    text-align: center;
    font-size: 18px;
    margin-bottom: 20px;
}

.chart-container {
    position: relative;
    height: 63vh;
    width: auto;
    margin: 0px auto;
}

.chart-container canvas {
    height: 100%;
    width: 100%;
}