<!-- <div class="chart-container"
style="position: relative; height:400px; width:400px">
  <h2 style="text-align: center;">Revenue Chart per Counter in Year</h2>
  <h3>Select Year</h3>
  <select (change)="onYearChange($event)">
    <option *ngFor="let year of years" [value]="year">{{ year }}</option>
  </select>
  <canvas id="pieChart"></canvas>
</div> -->

<div class="chart-container">
  <h2 style="text-align: center;">Revenue Chart per Counter in Year</h2>
  <h3>Select Year</h3>
  <select (change)="onYearChange($event)">
    <option *ngFor="let year of years" [value]="year">{{ year }}</option>
  </select>
  <canvas id="pieChart"></canvas>
</div>