<section class="orders">
  <app-stats-total-rows [label]="'Tổng số hóa đơn'"
                        [count]="totalOrders"
                        [icon]="'receipt'">
  </app-stats-total-rows>

  <!-- Filter based on Order Types -->
  <div class="type-dropdown">
    <app-generic-dropdown #orderTypesDropdownRef
                          label="Chọn loại hóa đơn"
                          [options]="typeDropdown"
                          (onSelectionChange)="onSelectChangeOrderTypeIdFromParent($event)">
    </app-generic-dropdown>
  </div>

  <!-- Table Data Source -->
  <app-generic-table-data-source [columnsToDisplay]="columnsToDisplay"
                                 [dataSource]="dataSource"
                                 [pageSize]="orderParams.pageSize"
                                 [pageIndex]="orderParams.pageIndex - 1"
                                 [count]="totalOrders"
                                 (onPageChangeFromChild)="onPageEvent($event)"
                                 (onFilterFromChild)="onApplyFilter($event)"
                                 (onIdGetFromChild)="onGetId($event)">
  </app-generic-table-data-source>.
</section>