<section class="orders">
  
  <app-stats-total-rows [label]="'Tổng số hóa đơn'"
                          [count]="totalOrders"
                          [icon]="'receipt'">
  </app-stats-total-rows>

  <div class="filters">
    <!-- Filter based on Order Types -->
    <div class="type-dropdown">
      <app-generic-dropdown #orderTypesDropdownRef
                            label="Chọn loại hóa đơn"
                            [options]="typeDropdown"
                            (onSelectionChange)="onSelectChangeOrderTypeIdFromParent($event)">
      </app-generic-dropdown>
    </div>

    <!-- Filter based on Order Types -->
    <div class="status-dropdown">
      <app-generic-dropdown #orderStatusDropdownRef
                            label="Chọn trạng thái"
                            [options]="orderStatusDropdown"
                            (onSelectionChange)="onSelectChangeOrderStatusFromParent($event)">
      </app-generic-dropdown>
    </div>

    <!-- Date Picker Range -->
    <mat-form-field appearance="outline">
      <mat-label>MM/DD/YYYY – MM/DD/YYYY</mat-label>
      <mat-date-range-input [rangePicker]="picker">
        <input matStartDate placeholder="Start date" (dateChange)="onSelectedStartDate($event)">
        <input matEndDate placeholder="End date" (dateChange)="onSelectedEndDate($event)">
      </mat-date-range-input>
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-date-range-picker #picker></mat-date-range-picker>
    </mat-form-field>

    <!-- Reset all input element -->
    <button class="btn btn--primary-dark btn--with-icon"
    (click)="onReset()"><mat-icon>filter_alt_off</mat-icon>Xóa bộ lọc</button>
  </div>

  <!-- Table Data Source -->
  <app-generic-table-data-source [columnsToDisplay]="columnsToDisplay"
                                 [dataSource]="dataSource"
                                 [pageSize]="orderParams.pageSize"
                                 [pageIndex]="orderParams.pageIndex - 1"
                                 [count]="totalOrders"
                                 (onPageChangeFromChild)="onPageEvent($event)"
                                 (onFilterFromChild)="onApplyFilter($event)"
                                 (onIdGetFromChild)="onGetId($event)">
  </app-generic-table-data-source>.
</section>