<mat-expansion-panel class="card-basket mat-elevation-z0"
                     (opened)="panelOpenState.set(true)"
                     (closed)="panelOpenState.set(false)">

  <!-- Header -->
  <mat-expansion-panel-header class="card-basket__header">
    <mat-panel-title>{{basketService.generateTempTicketId(basket.id, basket.phoneNumber)}}</mat-panel-title>
    <mat-panel-description>
      <p>Customer Number: <span>{{basket.phoneNumber || "NONE"}}</span></p>
      <mat-icon>shopping_basket</mat-icon>
    </mat-panel-description>
  </mat-expansion-panel-header>

  <!-- Actions -->
  <mat-action-row class="card-basket__actions">

    <!-- Button to delete a basket -->
    <button class="btn btn--grad btn--with-icon"
            (click)="onDeleteBasket()"> <mat-icon>delete_forever</mat-icon>Xóa giỏ
      hàng</button>

    <!-- Button to send to the payment page -->
    @if(isUserCashier()){
    <button class="btn btn--primary btn--with-icon"
            (click)="onGoToCheckOutPage()"> <mat-icon>paid</mat-icon>Thanh
      toán</button>
    }
  </mat-action-row>

  <!-- Basket Items  -->
  <div matExpansionPanelContent>
    <!-- Items -->
    <div class="card-basket__items">
      <app-table-basket-items [basketItems]="basket.saleItems"></app-table-basket-items>
    </div>

    <!-- Buyback Items -->
    <!-- <div class="card-basket__items">
      <app-table-basket-items [basketItems]="basket.buybackItems"></app-table-basket-items>
    </div> -->
  </div>

</mat-expansion-panel>
