<section class="employees">


  <button class="btn btn--primary u-margin-bottom-small"
          (click)="onCreateNewEmployee()">Add New Employee</button>

  <!-- Table Data Source -->
  <app-generic-table-data-source [columnsToDisplay]="tableConfig.columnsToDisplay"
                                 [dataSource]="tableConfig.dataSource"
                                 [pageSize]="tableConfig.pageSize"
                                 [pageIndex]="tableConfig.pageIndex"
                                 [count]="tableConfig.totalEmployees"
                                 (onPageChangeFromChild)="onPageEvent($event)"
                                 (onFilterFromChild)="onApplyFilter($event)"
                                 (onDisableFromChild)="onDisableEmployee($event)"
                                 (onEditFromChild)="onOpenEditEmployeeModal($event)">
  </app-generic-table-data-source>
</section>