<!-- <section class="employees">

  <app-stats-total-rows [label]="'Total Employees'"
                        [count]="tableConfig.totalCustomers"
                        [icon]="'person'"></app-stats-total-rows>

  <app-table-datasource [columnsToDisplay]="tableConfig.columnsToDisplay"
                        [dataSource]="tableConfig.dataSource"
                        [pageSize]="tableConfig.pageSize"
                        [pageIndex]="tableConfig.pageIndex"
                        [count]="tableConfig.totalCustomers"
                        (onPageChangeFromChild)="onPageEvent($event)"
                        (onFilterFromChild)="onApplyFilter($event)">
  </app-table-datasource>
</section> -->