<div class="file-upload-container">

  <!-- Input for uploading file -->
  <input type="file"
         (change)="onFileSelected($event)"
         multiple
         #fileInput />

  <button class="btn btn--grad btn--with-icon"
          (click)="fileInput.click()">
    <mat-icon>attach_file</mat-icon>Select Files
  </button>

  <button class="btn btn--primary btn--with-icon"
          [disabled]="selectedFiles.length == 0"
          (click)="uploadPolicyFile()">
    <mat-icon>upload</mat-icon>Upload
  </button>

  <!-- List of the selected files -->
  <mat-list>
    <mat-list-item *ngFor="let file of selectedFiles">
      File to upload: {{ file.name }}
    </mat-list-item>
  </mat-list>

  <!-- List of the successful uploaded files -->
  <mat-list>
    <mat-list-item *ngFor="let url of downloadURLs">
      File URL: {{ url }}
    </mat-list-item>
  </mat-list>

  <!-- Progress Bar -->
  <mat-progress-bar *ngIf="uploadProgress$ | async as progress"
                    mode="determinate"
                    [value]="progress"></mat-progress-bar>
</div>
