<h1>Hello World</h1>

<section class="checkout-page">

  <!-- Stepper -->


  <!-- Basket Summary -->
  <!-- @if () {}
  <div class="basket-summary">
    <div class="basket-summary__title">basket summary</div>
    <div class="basket-summary__content">
      <ul class="basket-summary__list">
        <li class="basket-summary__item">
          <strong>Order subtotal</strong>
          <strong>{{basket.subTotal | currency:'VND'}}</strong>
        </li>
        <li class="basket-summary__item">
          <strong>Membership</strong>
          <strong>{{basket.membershipName}}</strong>
        </li>
        <li class="basket-summary__item">
          <strong>Promotion Code</strong>
          @if (basket.promotionCode) {
          <strong>{{basket.promotionCode}}</strong>
          }
          @else {
          <strong>NONE</strong>
          }

        </li>
        <li class="basket-summary__item">
          <strong>Membership Discount</strong>
          <strong>{{basket.membershipDiscount | percent}}</strong>
        </li>
        <li class="basket-summary__item">
          <strong>Promotion Discount</strong>
          <strong>{{basket.promotionDiscount | percent}}</strong>
        </li>
        <li class="basket-summary__item">
          <strong>Total</strong>
          <strong>{{basket.total | currency:'VND'}}</strong>
        </li>
      </ul>
    </div>
  </div> -->

</section>