<button class="btn btn--grad btn--with-icon"
        (click)="onGoBackToBasketsPage()"><mat-icon>arrow_back</mat-icon>Back to Baskets</button>

<section class="checkout u-margin-top-medium">

  <!-- Heading -->
  <h3 class="checkout__heading u-margin-bottom-small">Tổng kết giỏ hàng</h3>

  <!-- Basket Summary -->
  <ng-container *ngIf="basketService.basketSource$ | async as basket">
    <div class="checkout__basket-summary">
      <!-- If the basket having buyback items or sal items -->
      <ng-container *ngIf="basket.saleItems.length !== 0">
        <app-table-basket-items-summary [basketItems]="basket.saleItems"></app-table-basket-items-summary>
      </ng-container>

      <!-- TODO: BUYBACK -->
      <!-- <ng-container *ngIf="basket.buybackItems.length !== 0">
        <app-table-basket-items-summary [basketItems]="basket.buybackItems"></app-table-basket-items-summary>
      </ng-container> -->
    </div>

    <!-- Divider -->
    <span class="divider u-margin-top-small"></span>

    <!-- Basket Stepper for Checkout -->
    <div class="flex u-margin-top-small">

      <!-- Total Summary -->
      <div class="total-summary">
        <h4 class="total-summary__heading">Tổng hóa đơn</h4>
        <ul class="total-summary__list">

          <!-- Total of selling or buyback items -->
          @if (basket.saleItems.length !== 0) {
          <li class="total-summary__item"><span>Tổng số tiền trước
              thuế</span><span>{{calculateBasketTotalPrice(basket.saleItems) |
              currency:"VND"}}</span>
          </li>
          }

          <!-- TODO: BUYBACK -->
          <!-- @else {
            <li><span>Tổng số tiền sau thuế</span><span>{{calculateBasketTotalPrice(basket.buybackItems) | currency:
                "VND"}}</span>
            </li>
            } -->

          <li class="total-summary__item"><span>VAT</span><span>{{ 0 | currency: "VND"}}</span></li>
          <li class="total-summary__item"><span>Tổng số tiền sau
              thuế</span><span>{{calculateBasketTotalPrice(basket.saleItems) | currency:
              "VND"}}</span></li>
        </ul>
      </div>

      <!-- Stepper -->
      <div class="stepper">
        <app-generic-stepper [linearModeSelected]="false"
                             #appStepper>
          <cdk-step [label]="'Khách hàng'">
            <app-checkout-customer [checkoutForm]="checkoutForm"></app-checkout-customer>
          </cdk-step>
          <cdk-step [label]="'Thanh toán'">
            <app-checkout-payment></app-checkout-payment>
          </cdk-step>
        </app-generic-stepper>
      </div>
    </div>
  </ng-container>



</section>
