@import "abstracts/variables";

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: $color-white;
  padding: 1.5rem;

  border-radius: 300px;
  box-shadow: 0 .5rem 10px $color-white;

  &__nav {
    a:not(:last-child) {
      margin-right: 1rem;
    }
  }
}