.sidenav-content {
  height: 100%;
  // Side Bar

  &__item-text {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1.5rem;
    padding: 0.75rem;
    font-size: 1.6rem;
    font-family: "Merriweather" !important;
    letter-spacing: 1.3px;
    font-weight: bold;
  }


  mat-sidenav {
    overflow: hidden;
    scroll-behavior: smooth;
    border-radius: 2rem;
    padding: 1.4rem;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  }

  mat-nav-list {
    padding: 0;
  }

  mat-sidenav-content {
    padding-left: 2rem;
    background-color: $color-white;
  }
}