.sidenav-content {
  height: 100%;

  @include paddingHorizon($padding-layout);

  // When a link is active
  &__item--active &__item-text {
    color: $color-primary-dark;
    transform: scale(1.04) translateX(0.2rem);
  }

  &__item--active {
    background-color: $color-grey-light-2 !important;
  }

  &__item-text {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1.5rem;
    padding: 0.75rem;
    font-size: 1.6rem;
    letter-spacing: 1.3px;
    font-weight: bold;
    transform: all 2s ease-in-out;

    &:hover {
      color: $color-primary-dark;
      transform: scale(1.04) translateX(0.2rem);
    }
  }

  mat-sidenav {
    overflow: hidden;
    scroll-behavior: smooth;
    height: min-content;
    border-top-left-radius: 1.4rem;
    border-bottom-right-radius: 1.4rem;
    border-bottom-left-radius: 1.4rem;
    border: 2px solid $color-primary;
    border-top-color: $color-primary-dark;
    padding: 1.4rem;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 2px 3px, rgba(0, 0, 0, 0.24) 0px 2px 2px;
  }

  mat-nav-list {
    padding: 0;
  }

  mat-sidenav-content {
    border-top: 2px solid $color-primary-dark;
    padding-top: $padding-layout;
    padding-bottom: $padding-layout;
    height: 100%;
    overflow-y: visible;
    overflow-x: auto;
    @include paddingHorizon($padding-layout);
  }
}