<form class="login form form--centered"
      [formGroup]="signInForm"
      autocomplete="off">
  <h2 class="form__heading u-margin-bottom-medium">Sign in</h2>

  <!-- Form Control Username -->
  <div class="form__input-control u-margin-bottom-medium">
    <mat-form-field appearance="outline">
      <mat-label>Username</mat-label>
      <input matInput
             type="text"
             placeholder="Username"
             formControlName="userName" />

      <!-- Handle Error on Control -->
      @if (signInForm.get('userName')?.invalid) {
      <mat-error>{{updateErrorMessage('userName')}}</mat-error>
      }
    </mat-form-field>
  </div>

  <!-- Form Control Password -->
  <div class="form__input-control u-margin-bottom-small">
    <mat-form-field appearance="outline">
      <mat-label>Password</mat-label>
      <input type="password"
             matInput
             placeholder="Password"
             formControlName="password" />

      <!-- Handle Error on Control -->
      @if (signInForm.get('password')?.invalid) {
      <mat-error>{{updateErrorMessage('password')}}</mat-error>
      }
    </mat-form-field>
  </div>

  <!-- Sign In Button -->

  <div class="login__contact-group u-margin-top-small">
    <button class="btn btn--primary-dark btn--with-icon"
            (click)="login(); $event.preventDefault()"><mat-icon>login</mat-icon>Đăng nhập</button>

    <button class="btn btn--primary-light btn--with-icon"
            (click)="forgotPassword(); $event.preventDefault()"><mat-icon>key</mat-icon>Quên mật khẩu</button>

    <!-- <span class="divider divider--vertical"></span>

    <div class="login__contact-group-text">
      <p class="login__contact-text">{{contact.text}}</p>
      <p class="login__contact-number">{{contact.number}}</p>
    </div> -->
  </div>
</form>

<!-- <pre>{{signInForm| json}}</pre> -->