@import "abstracts/variables.scss";

.login {
  min-width: 30rem;
  max-width: 40rem;

  &__contact-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 3rem;
    height: 7rem;
    width: 100%;
    justify-content: space-between;
  }

  &__contact-group-text {
    display: flex;
    flex-direction: column;
    gap: 3px;
  }

  &__contact-text {
    font-size: 1.4rem;
  }

  &__contact-number {
    font-size: 3.0rem;
    font-weight: bolder;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      bottom: -5px;
      left: 0;
      width: 90%;
      height: 3px;
      background-color: $color-black;
    }
  }
}
